* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.background{
    background-color: #98d2ff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;
        padding: 10px;
        width: 250px;
        height: 400px;
        text-align: center;
        img{
            width: 200px;
            height: 200px;
            border-radius: 20px;
        }
        .text{
            margin-top: 10px;
        }
    }
}
